body {
    background-color: #eee;
    display: flex;
    flex-direction: column;
}


#header {
    text-align: center;
    margin: 8vh;
    
}

#container {
    display: flex;
    justify-content: center;
}

.square {
    background: black;
  }

#squareContainer {
    display: grid;
    height: 500px;
    width: 500px;
}

.coloredSquare {
    background: white;
}


#controlPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 1;
    width: 300px;
    height: auto;
    padding: 16px;
}

button {
    border: none;
    border-radius: 8px;
    padding: 9px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 110px;
    margin-right: 110px;
    background-color: black;
    color: #eee;
}

button:active {
    scale: 0.98;
}


#sliderBanner {
    text-align: center;
}

.filler {
    margin: 1px;
}