body {
    background-color: #eee;
    display: flex;
    flex-direction: column;
}


#header {
    text-align: center;
    margin: 8vh;
    
}

#container {
    display: flex;
    justify-content: center;
}

.square {
    background: black;
  }

#squareContainer {
    display: grid;
    height: 500px;
    width: 500px;
}

.coloredSquare {
    background: white;
}


#controlPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: auto;
    padding: 16px;
}

#clearAll {
    border: none;
    border-radius: 8px;
    padding: 9px;
    margin: auto;
    background-color: black;
    color: #eee;
}

#clearAll:active {
    border: none;
    border-radius: 8px;
    padding: 8px;
    margin: auto;
    background-color: black;
    color: #eee;
}


#sliderBanner {
    text-align: center;
}

.filler {
    margin: auto;
}